@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}

body{
    font-family: "Segoe UI", Tahona, Geneva, Verdana, sans-sefrif;
      background-color: rgb(18, 8, 33);
}
